{% extends "base.html" %}

{% block content %}
{% if success_message %}<p style="color:green"> {{success_message}} </p>{% endif %}
<h2 style="color:red"><u>Fixer.io</u></h2><br>

<div class='container'>
    <div class="row">
        <div class='col-lg-12'>
            <button class="btn btn-lg btn-secondary btn-block">...</button>
        </div>
    </div><br>


    <form action="{% url 'fixer' %}" method="POST">
        {% csrf_token %}
        <div class='form-group'>
            <button type='submit' class="btn btn-lg btn-info btn-block">API Call</button>
        </div>
    </form><br>

        <div class="row">
            <div class="col-lg-3">
                <form action="{% url 'fixerdata' %}" method="POST">
                    {% csrf_token %}
                    <label for="date">Date :</label>
                    <input id='date' type="date" name="d">
                    <button type='submit' class="btn btn-sm btn-info">Submit</button>
                </form>

            {% if error_message %} <p style="color:red">{{ error_message }} </p>{% endif %}
            <br>
                <div class="data" style="color:green">
                    {% for key, value in dictdata.items %}
                        {{ key }} : {{ value }} <br>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-9">
                <form action="{% url 'calculate' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class='col-lg-3 offset-lg-2 form-group' style="background-color:rgb(130, 152, 223)">
                            <label for="{{form.date.id_for_label}}">Date :</label>
                                <input type="date" class='form-control' id="{{form.date.id_for_label}}" name="date" value="{{form.date.value}}">
                        </div>
                        <div class='col-lg-2 form-group' style="background-color:rgb(130, 152, 223)">
                            <label for="{{form.opt1.id_for_label}}">Currency 1</label>
                                <select class="form-control" id="{{form.opt1.id_for_label}}" name="opt1" >
                                    {% for  data in dictdata %}
                                        <option value="{{data}}" {% if form.opt1.value == data %} selected {% endif %}> {{data}} </option>
                                    {% endfor %}
                                </select>
                                    <p> {{ res1 }} </p>
                            </div>
                        <div class='col-lg-3 form-group' style="background-color:rgb(130, 152, 223)">
                            <label for="{{form.value.id_for_label}}">Value</label>
                                <input type="text" class="form-control" id="{{form.value.id_for_label}}" name="value" value="{{form.value.value}}">
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-lg-2 offset-lg-5 form-group' style="background-color:rgb(130, 152, 223)">
                            <label for="{{form.opt2.id_for_label}}">Currency 2</label>
                                <select class="form-control" id="{{form.opt2.id_for_label}}" name="opt2">
                                    {% for  data in dictdata %}
                                        <option value="{{data}}" {% if form.opt2.value == data %} selected {% endif %}> {{data}} </option>
                                    {% endfor %}
                                </select>
                                    <p> {{ res2 }} </p>
                        </div>
                        <div class='col-lg-3 form-group' style="background-color:rgb(130, 152, 223)">
                            <label for="r">Result</label>
                                <input type="text" class="form-control" id="r" name="" value="{{result}}" style="color:red">
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-lg-4 offset-lg-5 form-group'>
                            <button type="submit" class="btn btn-md btn-warning btn-block form-control">Submit</button>
                        </div>
                    </div>
                </form>
        </div>
   
</div>
{% endblock %}