{% extends 'base.html' %}

{% block content %}
{% if success_message %}<p style="color:green"> {{success_message}} </p>{% endif %}
{% if error_message %}<p style="color:red"> {{error_message}} </p>{% endif %}
    <div class="container">
        <form action="{% url 'add_copy' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-3 offset-lg-4 form-group">
                    <select class="form-control" name="bname">
                        <option>Select Book</option>
                        {% for  book in data2s %}
                        <option value="{{ book.id }}"> {{ book.book_name }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 offset-lg-4 form-group">
                    <button type="submit" class="btn btn-md btn-primary btn-block">Add</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}