{% extends 'base.html' %}

{% block title %}Book Registration{% endblock %}

{% block content %}
<h2>Book Registration Form</h2>
{% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}
{% if success_message %}<p style="color:green">{{ success_message }}</p>{% endif %}
    <div class="p-3 mb-2 bg-secondary text-white">
        <form action="{% url 'insert_book' %}" method="POST" class="form-inline">
            {% csrf_token %}
            <table>
            <tr>
                <td>              
                    <div class="form-group">
                        <label for="bname">Book Name   :</label></td>
                        <td><input type="text" class="form-control" id="bname" name="book_name" placeholder="Book Name" required>
                    </div>
                </td>
            </tr>

            <tr>
                <td> 
                    <div class="form-group">
                        <label for="aname">Author Name :</label></td>
                        <td><input type="text" class="form-control" id="aname" name="author_name" placeholder="Author Name">
                    </div>
                </td>
            </tr>

            <tr>
                <td> 
                    <div class="form-group">
                        <label for="yr">Year :</label></td>
                        <td><input type="text" class="form-control" id="yr" name="year" placeholder="Year">
                    </div>
                </td>
            </tr> 
                
            <tr>
                <td>
                    <div class="form-group">
                        <label for = "price">Price :</label></td>
                        <td><input type="text" class="form-control" id="price" name="price" placeholder="Price">
                    </div>
                </td>
            </tr> 

            <tr>
                <td>
                    <div class="form-group">
                        <label for = "dt">Date :</label></td>
                        <td><input type='date' class="form-control" id='dt' name="date">    
                    </div>
                </td>
            </tr>     

            <tr>
                <td>
                    <button type="submit" class="btn btn-success">Register</button>
                </td>
            </tr>
            </table>
        </form>
    </div>
{% endblock %}