{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h6 style="color:green">Hi {{user.first_name}}</h6><br>
    <div style='text-align:center'>
        <h5 style="color:navy">Welcome To Library</h5>
        <img src="static/images/library.jpg" height="200" width="250">
        <br><br><br>
        <a href = "{% url 'manager_home' %}"><h4>Home</h4></a>      
    </div>
    
    {% else %}
        <div style='text-align:center'>
            <br><br><br><br>
            <a href = "{% url 'login' %}"><h4>Login</h4></a>  
            <a href = "{% url 'register' %}"><h4>Register</h4></a>       
        </div><br><br><br>

        <div id="my-signin2" style="margin-left:440px">
    
            <script>
                function onSuccess(googleUser) {
                    console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
                    console.log('ID: ' + googleUser.getBasicProfile().getId());
                    console.log('Image URL: ' + googleUser.getBasicProfile().getImageUrl());
                    console.log('Email: ' + googleUser.getBasicProfile().getEmail());
                    }
    
                    function onFailure(error) {
                    console.log(error);
                    }
                    function renderButton() {
                    gapi.signin2.render('my-signin2', {
                        'scope': 'profile email',
                        'width': 240,
                        'height': 50,
                        'longtitle': true,
                        'theme': 'dark',
                        'onsuccess': onSuccess,
                        'onfailure': onFailure
                    });
                    }               
            </script>
        </div>
          <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        
        
          <a href="#" onclick="signOut();" style="margin-left:1020px">Sign out</a>
        <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out.');
            });
          }
        </script>

    {% endif %}

{% endblock %}
