{% extends 'base.html' %}

{% block title %}Issue Book{% endblock %}

{% block content %}
    {% if success_message %}<p style="color:green"> {{success_message}} </p>{% endif %}
    {% if error_message %}<p style="color:red"> {{error_message}} </p>{% endif %}
        <div class="container">
            <form action="{% url 'issue_book' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 form-group">
                        <select class="form-control" name="mname">
                            <option>Member Name</option>
                            {% for  data in data1s %}
                            <option value="{{data.id}}"> {{data.first_name}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 offset-lg-3 form-group">
                        <select class="form-control" name="bname" >
                            <option>Book Name</option>
                            {% for  data in data2s %}
                            <option value="{{data.id}}"> {{data.book_name}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 offset-lg-3 form-group">
                        <button type="submit" class="btn btn-md btn-primary btn-block">Assign </button>
                    </div>
                </div>
            </form>

        </div>
   
{% endblock %}