{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{{ '/index' }}
{% else %}
    {% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}
    <div style="margin-left:0px">
        <form action="{% url 'auth' %}" method="POST">
            {% csrf_token %}
            <div class="p-3 mb-2 bg-secondary text-white">
                <div class="row">
                    <div class='col-md-4'>
                    <label for="{{ form.username.id_for_label }}">User Name:</label>
                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="username" placeholder="Username" value="{{form.username.value}}">
                    </div>
                    <div class='col-md-8'></div>
                </div>
                <div class="row">
                    <div class='col-md-4'>
                    <label for="{{ form.password.id_for_label }}">Password:</label>
                    <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="password" placeholder="Password">
                    </div>
                </div><br>
                <button type="submit" class="btn btn-success">Login</button></td></tr><br><br>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}