{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<h3 style="color:green">Logged Out Successfully.</h3><br><br><br><br><br>
<a href="{% url 'index' %}">Home</a>
&nbsp;&nbsp;<a href="{% url 'login' %}">Login</a>
{% endblock %}