{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h6 style="color:green">Hi {{user.first_name}}</h6><br>


    <form class='form-inline ml-auto' method="GET" action="{% url 'searchlist' %}" >
        <div class="md-form my-0" style="margin-left:420px">
            <input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
        </div>
        <button class="btn btn-primary btn-md my-0 ml-sm-2" type="submit">Search</button>
        
    </form><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-2 form-group">
                <a href="{% url 'user_reg' %}"><button class="btn btn-warning btn-sm btn-block" type="submit">Celery</button></a>
            </div>
            <div class="col-lg-6 offset-lg-1 form-group">
                <a href="{% url 'user_reg' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">User Registration</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 form-group">
                <a href="{% url 'fixer' %}"><button class="btn btn-warning btn-sm btn-block" type="submit">Fixer.io</button></a>
            </div>
            <div class="col-lg-6 offset-lg-1 form-group">
                <a href="{% url 'issue_book' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">Issue Book To User</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-lg-3 form-group">
            <a href="{% url 'return_getmember' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">Return Book Accept</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-lg-3 form-group">
                <a href="{% url 'view_book' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">View Book Details</button></a>
            </div>
        </div>
            
        <div class="row">
            <div class="col-lg-6 offset-lg-3 form-group">
                <a href="{% url 'book_reg' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">Insert Book Details</button></a>
            </div>
        </div>
            
        <div class="row">
            <div class="col-lg-6 offset-lg-3 form-group">
                <a href="{% url 'search_user_taken' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">Search_Member_Book</button></a>
            </div>
        </div>
            
        <div class="row">
            <div class="col-lg-6 offset-lg-3 form-group">
                <a href="{% url 'add_copy' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">Add_CopyOf_Book</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-lg-3 form-group">
                <a href="{% url 'all_transactions' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">All_Transactions</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-lg-3 form-group">
                <a href="{% url 'maps' %}"><button class="btn btn-secondary btn-sm btn-block" type="submit">Google Maps</button></a>
            </div>
        </div>
    </div>
{% else %}
<h6 style="color:rgb(187, 15, 15)">Login First To Use The Application ...</h6><br>
{% endif %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% load static %} <script src="{% static 'js/ajax.js' %}"></script>

{% endblock %}    