{% extends "base.html" %}

{% block content %}
<input id="pac-input" class="controls" type="text" placeholder="Enter a location">
<div id="map"></div>
    <div id="infowindow-content">
        <span id="place-name"  class="title"></span><br>
        Place ID <span id="place-id"></span><br>
        <span id="place-address"></span>
    </div>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzHXBe40pnPfubgirhx9rAdDd3-2p66Ms&libraries=places&callback=initMap"
    async defer></script>

    {% load static %} <script src="{% static 'js/places.js' %}"></script>

    {% comment %} <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzHXBe40pnPfubgirhx9rAdDd3-2p66Ms&callback=initMap"
    async defer></script> {% endcomment %}

{% endblock %}


{% comment %} <!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzHXBe40pnPfubgirhx9rAdDd3-2p66Ms&callback=initMap"
    async defer></script>
  </body>
</html> {% endcomment %}
