{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <h3>Profile</h3>
    <div>

        <p>First Name : {{names.first_name}}</p>
        <p>Last Name : {{names.last_name}}</p>
        <p>Mobile No : {{names.mobile_no}}</p>
        <p>Address : {{names.address}}</p>
        <img src="{{ names.photo.url }}" height="200" width="250">

    </div>
    {% endif %}
{% endblock %}