{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<h2>Librarian Registration Form</h2>
{% if error_message %}<p style="color:red">{{ error_message }}</p>{% endif %}
{% if success_message %}<p style="color:green">{{ success_message }}</p>{% endif %}
    <div class="p-3 mb-2 bg-secondary text-white">
        <form action="{% url 'reg_user' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{form.first_name.id_for_label}}">First Name:</label>
                <input type="text" class="form-control" id="{{form.first_name.id_for_label}}" name="first_name" value="{{form.first_name.value}}" placeholder="First Name" required>
                <div style = 'color:rgb(119, 13, 13)'> {{ form.first_name.errors }} </div>
            </div>
            <div class="form-group">
                <label for="{{form.last_name.id_for_label}}">Last Name:</label>
                <input type="text" class="form-control" id="{{form.last_name.id_for_label}}" name="last_name" value="{{form.last_name.value}}" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="{{form.email.id_for_label}}">E Mail:</label>
                <input type="email" class="form-control" id="{{form.email.id_for_label}}" name="email" value="{{form.email.value}}" placeholder="E Mail">
                <div style = 'color:rgb(119, 13, 13)'> {{ form.email.errors }} </div>
            </div>
            <div class="form-group">
                <label for = "{{form.username.id_for_label}}">Username:</label>
                <input type="text" class="form-control" id="{{form.username.id_for_label}}" name="username" value="{{form.username.value}}" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="{{form.password.id_for_label}}">Password:</label>
                <input type="password" class="form-control" id="{{form.password.id_for_label}}" name="password" placeholder="Password">
            </div>

                    <button type="submit" class="btn btn-success">Register</button></td></tr><br><br>
        </form>
    </div>
{% endblock %}