{% extends 'base.html' %}

{% block title %}Return Book{% endblock %}

{% block content %}
{% if success_message %}<p style="color:green"> {{success_message}} </p>{% endif %}
    {% if error_message %}<p style="color:red"> {{error_message}} </p>{% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-11 offset-lg-1">
                    <h3>Return Book</h3>
                    <p>Which user has taken which book.</p>
                
                    <form action="{% url 'return_getmember' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <input type="text" class="form-control" name="id" placeholder="Input Book ID">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <button type="submit" class="btn btn-md btn-primary btn-block">Search </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><br><br><br>
            <div>
                <table>
                    <tr><td>Id :</td><td>{{m1s.id}}</td></tr>
                    <tr><td>First Name :</td><td>{{m1s.first_name}}</td></tr>
                    <tr><td>Last Name :</td><td>{{m1s.last_name}}</td></tr>
                    <tr><td>Mobile Num :</td><td>{{m1s.mobile_no}}</td></tr>
                    <tr><td>Address :</td><td>{{m1s.address}}</td></tr>
                </table>
            </div>
            <div>
                <form action="{% url 'return_book' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-2 offset-lg-5 form-group">
                            <input type="hidden" name="cid" value="{{c1s.id}}">
                            <input type="hidden" name="mid" value="{{m1s.id}}">
                            <button type="submit" class="btn btn-md btn-warning btn-block">Return</button>
                        </div>
                    </div>
                </form>
            </div>        
        </div>
   
{% endblock %}