{% extends 'base.html' %}

{% block title %}Issue Book{% endblock %}

{% block content %}
{% if success_message %}<p style="color:green"> {{success_message}} </p>{% endif %}
    {% if error_message %}<p style="color:red"> {{error_message}} </p>{% endif %}
        <div class="container">
            <div class="row">
                <div class="col-lg-11 offset-lg-1">
                    <h3>Search</h3>
                    <p>Which user has taken which book.</p>
                
                    <form action="{% url 'search_user_taken' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <select class="form-control" name="mname">
                                        <option>Member Name</option>
                                        {% for  data in data1s %}
                                            <option value="{{data.id}}"> {{data.first_name}} </option>
                                        {% endfor %}
                                </select>
                            </div>
                        
                            <div class="col-lg-4 form-group">
                                <select class="form-control" name="bname">
                                        <option>Book Name</option>
                                        {% for  data in data2s %}
                                            <option value="{{data.id}}"> {{data.book_name}} </option>
                                        {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 form-group">
                                <button type="submit" class="btn btn-md btn-primary btn-block">Search ! </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><br>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 offset-lg-4">
                    {% for data in datam2s%}
                    <p style="color:rgba(236, 12, 12, 0.918)">{{data.books}} (id_{{data.id}})</p>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 offset-lg-4">
                    {% for data in datab2s%}
                    <p style="color:rgba(236, 12, 12, 0.918)">{{data.member.full_name}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
   
{% endblock %}