{% extends 'base.html' %}

{% block content %}

    <div class='container-fluid' style="margin-left:260px">
        <table border="4px">
            <h3 style="color:green;margin-left:160px">Transaction History</h3><br>
            <tr>    
                <th>Id</th>
                <th>Status</th>
                <th>Member Name</th>
                <th>Copy Id</th>
                <th>Book Name</th>
                <th style="text-align:center">Date Field</th>
                <th style="text-align:center">Time Field</th>
            </tr>
        {% for transaction in trans %}
        <tr> 
            <td> {{transaction.id}} </td>
            <td> {{transaction.status}} </td>
            <td>{{ transaction.member.full_name }}</td>
            <td style="text-align:center">{{ transaction.copy_id }}</td>
            <td>{{ transaction.copy.books }}</td>
            <td>{{ transaction.date_time|date:"SHORT_DATE_FORMAT" }}</td>
            <td>{{ transaction.date_time|date:"P" }}</td>
        </tr>
    {% endfor %}
        </table>
            <div class="pagination">
                <span class="step-links">
                    {% if trans.has_previous %}
                        <a href="?page={{ trans.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ trans.number }} of {{ trans.paginator.num_pages }}.
                    </span>
            
                    {% if trans.has_next %}
                        <a href="?page={{ trans.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
    </div>
{% endblock %}