{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<h2 style="color:green">Hello {{ form.username }}</h2><br>
<h3 style="color:green">Your Registration is Successfully Completed.</h3><br><br><br><br><br>
<a href="{% url 'login' %}">Login</a>
{% endblock %}