{% extends 'base.html' %}

{% block title %} Book Issue {% endblock %}

{% block content %}
    <h3>User Registration</h3>
    {% if success_message %} <h6 style="color:green">{{success_message}}</h6> {% endif %}
    {% if error_message %} <h6 style="color:red">{{error_message}}</h6> {% endif %}

    <div class="p-3 mb-4 bg-info text-white">
    <form action="{% url 'user_reg' %}" class="form-inline" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>              
                    <div class="form-group">
                        <label for="fname">First Name   :</label></td>
                        <td><input type="text" class="form-control" id="fname" name="first_name" placeholder="First Name" required>
                    </div>
                </td>
            </tr>

            <tr>
                <td>              
                    <div class="form-group">
                        <label for="lname">Last Name   :</label></td>
                        <td><input type="text" class="form-control" id="lname" name="last_name" placeholder="Last Name" >
                    </div>
                </td>
            </tr>

            <tr>
                <td>              
                    <div class="form-group">
                        <label for="mno">Mobile No   :</label></td>
                        <td><input type="text" class="form-control" id="mno" name="mobile_no" placeholder="Mobile" >
                    </div>
                </td>
            </tr>

            <tr>
                <td>              
                    <div class="form-group">
                        <label for="adr">Address :</label></td>
                        <td><textarea class="form-control rounded-0" id="adr" rows="2" name="address"></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <td>              
                    <div class="form-group">
                            <label for="adr">Photo :</label></td>
                            <td><input type="file" id="adr" name="photo">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit" class="btn btn-danger btn-block">Register</button>
                </td>
            </tr>
        </table>
    </form>
    </div>


{% endblock %}