{% extends 'base.html' %}

{% block content %}

    <div style="margin-left:350px">
        <table border="3px">
            <tr>    
                <th>Member Name</th>
                <th>Book Name</th>

            </tr>
            {% for book in books %}
            <tr> 
                <td> {{book.book_name}} </td>
            </tr>
            {% endfor %}
            {% for name in names %}
            <tr> 
                <td> {{name.first_name}} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}