{% extends 'base.html' %}

{% block content %}

    <div class='container-fluid' style="margin-left:300px">
        <table border="4px">
            <tr style="background:rgb(135, 91, 240)">    
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Y e a r</th>
                <th>P r i c e</th>
                <th><center>D a t e</center></th>
                <th>Details</th>
            </tr>
        {% for book in books %}
        <tr> 
            <td> {{book.book_name}} </td>
            <td> {{book.author_name}} </td>
            <td>{{ book.year }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.date }}</td>
            <td style="text-align:center"><a href="/library/view_book/{{ book.id }}/">link</a></td>
        </tr>
    {% endfor %}
        </table>
    </div><br><br>
    <div style="margin-left:475px">
        <p> Book Name : {{bs.book_name}} </p>
        <p> No Of Books : {{cs.count}} </p>
        <p>Copy Id's : {% for c in cs %}
        <a href="/library/copy_book/{{ c.id }}/">{{c.id}},</a></td> 
        {% endfor %}</p>
    </div>
    
{% endblock %}